<table>
	<tr>
		<th>Home Team</th>
		<th>Away Team</th>
		<th>Spread</th>
	</tr>
	<% @games.each do |game| %>
	<tr data-game-id="<%= game.id %>">
		<td class="pick-team" data-team-id="<%= game.home_team.id %>"><%= game.home_team.name %></td>
		<td class="pick-team" data-team-id="<%= game.away_team.id %>"><%= game.away_team.name %></td>
		<td><%= game.spread %></td>
		<% if current_user.picks.find_by(game_id: game.id) %>
		<% end %>
	</tr>
	<% end %>
</table>