<div class="col s10">
    <% @distribution_hash.each do |week, distros| %>
    <div class="card distribution-card">
        <div class="card-content">
            <div class="row title-row">
                <span class="card-title">
                    Week <%= week %> Distribution
                </span>
            </div>
            <table class="bordered">
                <tbody>
                    <tr>
                        <th>Pick</th>
                        <th>Opponent</th>
                        <th>Spread</th>
                        <th>Result</th>
                        <th>Number of Picks</th>
                    </tr>

                    <% distros.each do |pick| %>
                        <tr>
                            <td><%= pick[:logo_path] %></td>
                            <td><%= pick[:winner].name %></td>
                            <td><%= pick[:opponent].name %></td>
                            <td><%= pick[:spread] %></td>
                            <td> <%= pick[:result] %> </td>
                            <td> <%= pick[:count] %> </td>
                        </tr>
                    <% end %>

                </tbody>
            </table>
        </div>
    </div>
    <% end %>
</div>
