<!DOCTYPE html>
<html>
  <head>
    <title>Super Pick'em</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="https://i.imgur.com/52hhH4m.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script> -->
    <!-- <script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script> -->
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106151608-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-106151608-1');
    </script>
  </head>
  <body>
    <%= react_component('Topbar', {
      current_user: current_user.as_json(:include => [:leagues]),
    }) %>
    <div class="row">
      <%= react_component('Sidebar', {
        current_user: current_user.as_json(:include => [:leagues]),
      }, {class: 'col s2'}) %>

      <%= yield %>
    </div>
    <script type="text/javascript">
      window.current_user = <%= raw current_user.to_json %>;
    </script>
  </body>
</html>
