<!DOCTYPE html>
<html>
  <head>
    <title>Nfl Pickem</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <%= react_component('Topbar', {
      current_user: current_user,
    }) %>
    <div class="row">
      <%= react_component('Sidebar', {}, {class: 'col s2'}) %>

      <%= yield %>
    </div>
  </body>
</html>